.add-new-city-btn {
  margin-top: 27px;
}

.all-cities-btn {
  margin-top: 27px;
}

.all-cities-row {
  margin-top: 27px;
}

.search-box {
  margin-top: 35px;
}

select {
  border: 1px solid indigo;
  display: block !important;
}
